/*  your css code here. If applicable */
#yellow{
	background-color:yellow;
	border-width:1px;
border: 1px solid green;
}
#Red{
	background-color:red;
	border-width:1px;
border: 1px solid black;
}
#Green{
	background-color:green;
	border-width:1px;
border: 1px solid yellow;
}